<p>
  <strong><%= comment.user.username %> said:</strong> '<%= comment.body %>'

  <% if current_user.admin %>
    <%= link_to 'Delete Comment', [comment.listing, comment],
       method: :delete,
       data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
