<% if logged_in? %>

  <p>Hi, <%= current_user.username %>!</p>

  <p>
    <a href="/logout"> Logout</a>
  </p>

<% else %>

  <p>
    <a href="/users/new">Sign Up</a>
    <a href="/session/new">Login</a>
  </p>

<% end %>
